<div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-card nz-Type="inner" style="margin-top: 16px;" nzTitle="Post new Income">
                
                <form nz-form [formGroup]="incomeForm" (ngSubmit)="editIncome()" class="custom-form">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the title!">
                            <input type="text" nz-input formControlName="title" placeholder="Enter title" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the amount!">
                            <input type="number" nz-input formControlName="amount" placeholder="Enter amount" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input the date!">
                            <nz-date-picker formControlName="date" style="width: 100%;" nzPlaceHolder="Select date"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please input Description!">
                            <textarea nz-input formControlName="description"   placeholder="Enter description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control>
                            <nz-select nzAllowClear nzPlaceHolder="select Category" formControlName="category">
                                <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category" [nzValue]="category"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button nzType="primary" type="submit" nzBlock [disabled]="incomeForm.invalid">Edit Income</button>
                </form>
            </nz-card>
        </div>
          
    </div>
</div>





